@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";

/*TODO Replace all in-class colors / bg-colors with html classes*/

:root {
    --light-text-pr: #fff;
    --light-text-sd: #006eff;
    --light-bg-pr: #006eff;
    --light-bg-sd: #fff;
    --dark-text-pr: rgb(0, 166, 255);
    --dark-text-sd: #ffffff;
    --dark-bg-sd: rgb(72, 70, 86);
    --dark-bg-pr: rgb(100, 104, 122);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 20rem;
}

h1 {
    font-family: 'Playfair display';
    font-size: 1.25rem;
}

hr{
    border: none;
    border-bottom:  2px solid var(--light-text-sd);
}

#input-el {
    display: block;
    margin-bottom: 5px;
    color: none;
    border: 2px solid var(--light-text-sd);
    border-radius: 20px;
    width: 100%;
    padding: 10px;
}

.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    transition: .25s ease-in-out;
}


.title.dark-text-pr:hover{
    color: var(--dark-text-sd);
}

.title:hover{
    color: var(--light-text-sd);
}

.btn {
    margin: 10px 5px 5px 0;
    border: 3px solid var(--light-bg-pr);
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: .75em;
    transition: transform .25s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(.95);
}

#ul-el{
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

#ul-el > li{
    margin-top: 5px;
}

#ul-el a{
    color: #000;
}

/* Icons */
button.icon {
    color: var(--light-text-sd);
    font-size: 1.5rem;
    border: none;
    transition: transform .1s ease-in-out; 
}

button.icon:hover {
    transform: scale(1.3);
}

button.icon:active {
    transform: scale(1);
}

/* Visibility */

.invisible {
    position: absolute;
    opacity: 0;
}

/* Colors Classes */
.light-bg-pr {
    background-color: var(--light-bg-pr);
}

.light-bg-sd {
    background-color: var(--light-bg-sd);
}

.light-text-pr {
    color: var(--light-text-pr);
}

.light-text-sd {
    color: var(--light-text-sd);
}

.dark-bg-pr {
    background-color: var(--dark-bg-pr);
}

.dark-bg-sd {
    background-color: var(--dark-bg-sd);
}

.dark-text-pr {
    color: var(--dark-text-pr);
}

.dark-text-sd {
    color: var(--dark-text-sd);
}
